#### 1. In the below elements which of them are values or an expression? e.g.: - values can be integers or strings and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6 

Ans:- Values = ‘hello’, -87.8, 6.
Mathematical Operators = *, -, ?, +.
Expression = *, -, ?, +, hello’, -87.8, 6.

#### 2. What is the difference between string and variable?

**Ans:**  String - A string is a continuous set of characters of information that is stored in a variable under quotations.

        Variable - Variable or identifier stores different types of information or data in the form of numbers, string, 
                   lists, and tuples.

#### 3. Describe three different data types.
Ans: There are multiple datatypes like  String,Numeric, Sequence, set, Binary etc.
          Numeric - It includes numeric values
          Example - a = 5, b = 3.12, c = 4.14i etc.
          Types - Int, long, float, complex
          
          String - Set of characters that are presented in quotations.
          Example - Name = "Hello, my name is vimlesh mishra"
          
          Tuple - A tuple is a sequence data type that stores different datatypes like int, float, string, etc.
          Example - Tup = (“vimlesh”,2, 43.5)

4. What is an expression made up of? What do all expressions do?
Ans: An expression is made up of variables, operators and operands. Operators are symbols that assign a function and                operands are the values on which the operator acts and variables store the data. Ex - sum = 10 + 20, here, sum is a            variable, 10   and 20 are operands, and ‘+’ is an operator. 
     All expressions produce some value after being interpreted by python interpreter.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Ans:   Expression- An expression is made up of variables, operators and operands. Operators are symbols that assign as                  function and operands are the values on which the operator acts and variables store the data. All expressions produce          some value after being interpreted by python interpreter.

        Ex – a = 15 b = 22
             Sum = a + b
            
          Statement- A statement is the smallest executable unit of code that creates a variable or displays a value. Every                          line of code that is written in a programming language is called a statement because all lines are                              executable by the interpreter.
          
         Ex- Spam = 10
             print (Spam)

6. After running the following code, what does the variable bacon
contain?

bacon = 22

bacon + 1

Ans: After running the code, the variable bacon contains 23. See execution below.

In [2]:
# Anwer 6). After running the code it contains 22
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3
Ans: Both will have same output. see execution below.

In [ ]:
# Answer 7)-a
"spam" + "spamspam"

'spamspamspam'

In [ ]:
# 7)-b 
"spam"*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Ans:       As per python,Variable names cannot begin with a number. The python rules for naming a variable are :-
           Variable name must start with a letter or the underscore character.
           Variable name cannot start with a number.
           Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
           Variable names are case-sensitive (name, iNEURON and ineuron are three different variables).
           The reserved words(keywords) cannot be used naming the variable.
 
         examples are below.

In [6]:
# Answer 8).
eggs = 10
print(eggs)

10

In [7]:
# Answer 8).
100 = "eggs"
print(100)

SyntaxError: cannot assign to literal (1501535733.py, line 1)

#### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

**Ans:** The int(),float(),and str() functions will evaluate to the integer,floating-point number,string version respectively of the value passed to them.

See examples below.

#### 9. Following are the functions that reepresent integer, float and string
   int(10)

In [2]:
float(15.3)

15.3

In [1]:
str("iNEURON")

'iNEURON'

#### 10. Why does this expression cause an error? How can you fix it?

   'I have eaten ' + 99 + ' burritos.'

**Ans:** It will show error because string and integer cannot concatenate. We can fix this by converting integer 10 into                 string.

See execution below.

In [ ]:
# Answer 10)
"I have eaten" + 99 + "burritos"

TypeError: can only concatenate str (not "int") to str

In [12]:
# Answer 10) We can convert integer to string using double quotes
"I have eaten" + " 99 " + "burritos"

'I have eaten 99 burritos'

In [ ]:
                           #ASSIGNMET 1 COMPLETED#